


<h1>Stop Information</h1>
<%= @title %>
<table>
<tr>
  <th>Description</th>
  <th>Value</th>
</tr>
<% @stop.each_pair do |k, v| %>
<tr>
  <td><%= k %></td>
  <td id="<%= k %>"><%= v %></td>
</tr>
<% end %>
</table>

<br>
<br>

<table>
<tr>
  <th>Prediction</ht>
</tr>
<% @stop.predictions.each do |prediction| %>
<tr>
  <td><%= prediction.seconds %> Seconds</td>
</tr>
<% end %>
<table>

<div id="map-canvas">
</div>

