<div class="wrapper">
<div class="container">
  <div class="splash">
    <h2>Welcome to <a href="/">MuniPlus</a></h1>
    <h4>Serving the San Francisco Area</h3>
    <br>
    <h5>Find a route</h4>
    <form action="/routes" method="POST">
      <p class="errors"><%= @errors %></p>
      <label for="inbound">Inbound</label><input type="checkbox" name="config[inbound]" id="inbound" value="1">
      <label for="outbound">Outbound</label><input type="checkbox" name="config[outbound]" id="outbound" value="1"><br>
      <input type="number" name="route_number" placeholder="Enter Route #">
      <input class="button-primary" type="submit" value="Submit"><br>
    </form>
  </div>
</div>
</div>

<div class="orange">
  <div class="list u-full-width four offset-by-four columns">
  <% unless @route.nil? %>
      <%  @results.each do |data_set| %>
    <table id="prediction-table">
        <h5 id="direction-header"><%= data_set.keys[0] %></h5>
        <% data_set["#{data_set.keys[0]}".to_sym].each do |tag, title| %>
          <tr>
            <td><a href="/<%= data_set.keys[0] %>/<%= @route_number %>/<%= title %>"><%= tag %></a></td>
            <td><a href="/<%= data_set.keys[0] %>/<%= @route_number %>/<%= title %>"><%= title %></a></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
  </div>
</div>
